.title {
	display: inline-flex;
	color: var(--electron-blue);
	font-size: 2rem;
	letter-spacing: 0.2rem;
	position: relative;
	padding: 0.5rem 0;
	margin: 2rem 0;
	text-transform: uppercase;
}

.title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 4rem;
	height: 0.3rem;
	background-color: var(--mint-liaf);
	transition: 1s ease;
}

.title:hover:before {
	width: 100%;
}

.subtitle {
	font-size: 1.4rem;
	margin-bottom: 1rem;
	color: var(--midnight-blue);
}

.project__title {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	color: #000;
}
