aside
  .wrapper
    .main__container
      h2.title Specializations
      ul.list
        li.list__item Site layout
        li.list__item Single page application
        li.list__item Backend on NodeJS
      h2.title Contact
      a.link(href="tel: +380935010353")
        img.link__image(src="./img/telephone.png" alt="telephone")
        span.link__text +38 (093) 501 03 53
      a.link(href="mailto:alexcseev1990@gmail.com")
        img.link__image(src="./img/gmail.png" alt="gmail")
        span.link__text alexcseev1990@gmail.com
      a.link(href="https://www.linkedin.com/in/konstantin-alekseev-15919a187" target="_blank")
        img.link__image(src="./img/linkedin.png" alt="linkedin")
        span.link__text linkedin.com/in/konstantin-alekseev-15919a187
      a.link(href="https://github.com/AleXcseev" target="_blank")
        img.link__image(src="./img/github.png" alt="github")
        span.link__text github.com/AleXcseev
      h2.title Qualifications
      h3.subtitle Proficient in:
      ul.list
        li.list__item HTML
        li.list__item CSS
        li.list__item JavaScript
        li.list__item React
        li.list__item Redux
        li.list__item NodeJS
        li.list__item Express
        li.list__item GraphQL
        li.list__item Vue
        li.list__item ReactNative
      h3.subtitle Soft skils
      ul.list
        li.list__item Problem solving
        li.list__item Critical thinking 

