container
  .wrapper
    .main__container
      h2.title Career summary
      h3.project__title React quiz (pet-project)
      ul.list
        li.list__item Developed on React
        li.list__item Business layer on Redux
        li.list__item Firebase as a database
      h3.subtitle Link:
        a.link(href="https://quiz-92c4c.firebaseapp.com/quiz/-M7S9AimxGuh7ikCh_Hh" target="_blank")
          span.link__text quiz-92c4c.firebaseapp.com/quiz/-M7S9AimxGuh7ikCh_Hh
      h3.project__title Course site(pet-project)
      ul.list
        li.list__item Developed MVC on NodeJS, Express
        li.list__item Used Mongoose for communication with database
      h3.subtitle Link:
        a.link(href="https://github.com/AleXcseev/course-site" target="_blank")
          span.link__text github.com/AleXcseev/course-site
      h2.title Courses
      ul.list 
        li.list__item IT school Hillel #[span.link__text (Front-end pro)]
        li.list__item Udemy #[span.link__text (React, Redux, NodeJS, Vue)]
        li.list__item Oratorica #[span.link__text (English language)]
      h2.title Foreighn languages
      ul.list 
        li.list__item Russian #[span.link__text (Native)]
        li.list__item Ukrainian #[span.link__text (Native)]
        li.list__item English #[span.link__text (Pre-intermidiate)]