header.site__header
  .header__blackout
    .header__wrapper
      h1.header__title.header__title--name Konstantin Alekseev
      h2.header__title.header__subtitle Front-end developer
      h2.header__title Personal profile
      p.header__paragraff Hardworking, a highly motivated junior developer with a good knowledge base